body {
    background: #ddd;
}

#root {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.App {
    color: #333;
    border: 1px solid #aaa;
    border-radius: 4px;
    background: #fff;
    margin: 2em;
    min-height: 20em;
    width: 32em;
    box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.15);
}


.App > header {
    min-height: 240px;
    background: #366cd3;
    color: #fff;
    padding-top: 80px;
    padding-left: 32px;
    position: relative;
}

.App > header > h1 {
    font-size: 2em;
}

.App > .todoList {
    margin-top: 2em;
    padding: 1em;
}

